@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: antiquewhite;
}

.wrapper {
    z-index: 1;
    display: flex;
    overflow: hidden;
}

.lissajous-canvas {
    height: 95vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    // border: 1px solid black;
}

.lissajous-control-panel {
    width: 30%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    .lissajous-control-panel-inner {
        font-style: italic;
        display: flex;
        flex-direction: column;
        position: relative;
        .double-input-block {
            display: flex;
            justify-content: space-between;
            flex: 1;
            .input-block {
                width: 48%;
                position: relative;
            }
        }
        .input-button {
            height: 34px;
            margin-top: 2px;
            border: none;
            font-weight: bold;
            border: 1px solid black;
            width: 102%;
            cursor: pointer;
            font-size: 16px;
        }
    }
}

label {
    font-size: 18px;
    font-weight: bold;
    .notbold {
        font-weight: normal;
    }
}

input {
    margin: 5px 0px 15px 0px;
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid black;
    font-size: 18px;
    background-color: antiquewhite;
}

option {
    zoom: 1.1;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.modal-window {
    position: absolute;
    display: none;
    background-color: white;
    width: 600px;
    height: 300px;
    margin-top: 50px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 3;
    .modal-window-inner {
        padding: 20px;
        .modal-header {
            width: 100%;
            height: 50px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }
        .modal-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    }
}